<?xml version="1.0"?>
<config>
    <modules>
        <Submarine_ProductView>
            <version>0.1.0</version>
        </Submarine_ProductView>
    </modules>
    <global>
        <blocks>
            <productview>
                <class>Submarine_ProductView_Block</class>
            </productview>
        </blocks>
        <helpers>
            <productview>
                <class>Submarine_ProductView_Helper</class>
            </productview>
        </helpers>
    </global>
    <frontend>
        <routers>
            <productview>
                <use>standard</use>
                <args>
                    <module>Submarine_ProductView</module>
                    <frontName>productview</frontName>
                </args>
            </productview>
        </routers>
        <translate>
            <modules>
                <Submarine_ProductView>
                    <files>
                        <default>Submarine_ProductView.csv</default>
                    </files>
                </Submarine_ProductView>
            </modules>
        </translate>
        <layout>
            <updates>
                <productview>
                    <file>productview.xml</file>
                </productview>
            </updates>
        </layout>
    </frontend>
</config>