<?xml version="1.0"?>
<config>
    <modules>
        <Submarine_Profile>
            <version>0.0.3</version>
        </Submarine_Profile>
    </modules>
    <frontend>
        <routers>
            <profile>
                <use>standard</use>
                <args>
                    <module>Submarine_Profile</module>
                    <frontName>profile</frontName>
                </args>
            </profile>
        </routers>
        <layout>
            <updates>
                <profile>
                    <file>profile.xml</file>
                </profile>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<profile>
				<use>admin</use>
				<args>
					<module>Submarine_Profile</module>
					<frontName>profile</frontName>
				</args>
			</profile>
        </routers>
    </admin>
    <global>
        <models>
            <profile>
                <class>Submarine_Profile_Model</class>
                <resourceModel>profile_mysql4</resourceModel>
            </profile>
            <profile_mysql4>
                <class>Submarine_Profile_Model_Mysql4</class>
                <entities>
                    <profile>
                        <table>profile</table>
                    </profile>
                </entities>
            </profile_mysql4>
			<directory>
				<rewrite>
					<currency>Submarine_Profile_Model_Currency</currency>
				</rewrite>
			</directory>
			<customer>
				<rewrite>
					<customer>Submarine_Profile_Model_Customer</customer>
				</rewrite>
			</customer>
        </models>
        <resources>
            <profile_setup>
                <setup>
					<module>Submarine_Profile</module>
					<class>Mage_Customer_Model_Entity_Setup</class>
				</setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </profile_setup>
            <profile_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </profile_write>
            <profile_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </profile_read>
        </resources>
        <blocks>
            <profile>
                <class>Submarine_Profile_Block</class>
            </profile>
        </blocks>
        <helpers>
            <profile>
                <class>Submarine_Profile_Helper</class>
            </profile>
        </helpers>
    </global>
</config>