<!doctype html>
<html>
<head>
    <title>#errname#</title>
</head>
<body>
    <h3>#errname#</h3>
    <p>
        #msg_errcode#&nbsp;#errcode#
        <br />
        #msg_errmsg#&nbsp;#err_errmsg#
    </p>
    <button type="submit" formaction="#link_toshop#">#msg_toshop#</button>
</body>
</html>