.popup { position:absolute; z-index:100; width: 420px; }

div.popup.login {
    top: 20%;
    margin-left: 250px;
}

div.popup.change_details {
top: 20%;
left: 26%;
}

div.popup.favorite_product {
    padding-top:20px;
    top: 20%;
    margin-left: 250px;
}


#dialog_overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 90;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
}

.ajax-loader {display: inline-block; background: url(../images/ajax-loader.gif) no-repeat 0 0; width:16px; height:11px; vertical-align: middle; }

.form-list li.control input.radio { margin-right:6px; }